{
	"version": 1,
	"type": "s3",
	"interval": "30m",
	"vacuum": false,
	"sub": {
    "endpoint": "$ENDPOINT",
		"access_key_id": "$ACCESS_KEY_ID",
		"secret_access_key": "$SECRET_ACCESS_KEY_ID",
		"region": "$BUCKET_REGION",
		"bucket": "$BUCKET_NAME",
		"path": "rqlite_txt.db.gz"
	}
}